# Big Mac CSV Activities
I have provided you with a very small amount of the original big mac data dataset in a .csv file. Use it to complete all the activities in this notebook.

In [7]:
import pandas as pd

#Read in the big_mac_aud.csv file and store it as big_mac_df. Add the headings 'Country', 'Local', 'AUD' and 'Date'
big_mac_df = pd.read_csv(
    'data/big_mac_source_data_v2.csv'
    )

#Output the big_mac_df
big_mac_df

,name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,GDP_local,date
0,Argentina,ARG,ARS,2.50,1.00000,8709.072,8.709072e+03,2000-04-01
1,Australia,AUS,AUD,2.59,1.68000,21762.397,3.372292e+04,2000-04-01
2,Brazil,BRA,BRL,2.95,1.79000,3501.438,6.351375e+03,2000-04-01
3,Canada,CAN,CAD,2.85,1.47000,22340.553,3.319147e+04,2000-04-01
4,Switzerland,CHE,CHF,5.90,1.70000,41768.021,6.274204e+04,2000-04-01
...,...,...,...,...,...,...,...,...
2083,Ukraine,UKR,UAH,105.00,36.93145,4348.570,1.406445e+05,2023-07-01
2084,Uruguay,URY,UYU,259.00,37.76500,20221.940,8.324901e+05,2023-07-01
2085,United States,USA,USD,5.58,1.00000,76348.494,7.634849e+04,2023-07-01
2086,Vietnam,VNM,VND,74000.00,23687.50000,4086.519,9.564814e+07,2023-07-01
2087,South Africa,ZAF,ZAR,49.90,17.78375,6694.358,1.095364e+05,2023-07-01

## Add More Rows

I want to add France to the above dataframe. The cost is 5.30 EUROs. You'll need to do the conversion for AUD.

For information on how to add a row to a dataframe, read through the instructions on [How to Add New Rows to a Pandas Dataframe](https://saturncloud.io/blog/how-to-add-new-rows-to-a-pandas-dataframe/)

**NOTE:** Inbetween each test, make sure to *Clear All Outputs* and *Run All* (options at the top of the screen).

In [8]:
#Create a new row as a dictionary called 'new_row'
new_row = ['France', 'FRA', 'EUR', 5.30, 1.61, 4167943.59, 2586890.22, '2024/6/20']

#Add the row to big_mac_df with either the append or loc function
big_mac_df.loc[len(big_mac_df)] = new_row

#Print the dataframe
big_mac_df

,name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,GDP_local,date
0,Argentina,ARG,ARS,2.50,1.00000,8709.072,8.709072e+03,2000-04-01
1,Australia,AUS,AUD,2.59,1.68000,21762.397,3.372292e+04,2000-04-01
2,Brazil,BRA,BRL,2.95,1.79000,3501.438,6.351375e+03,2000-04-01
3,Canada,CAN,CAD,2.85,1.47000,22340.553,3.319147e+04,2000-04-01
4,Switzerland,CHE,CHF,5.90,1.70000,41768.021,6.274204e+04,2000-04-01
...,...,...,...,...,...,...,...,...
2084,Uruguay,URY,UYU,259.00,37.76500,20221.940,8.324901e+05,2023-07-01
2085,United States,USA,USD,5.58,1.00000,76348.494,7.634849e+04,2023-07-01
2086,Vietnam,VNM,VND,74000.00,23687.50000,4086.519,9.564814e+07,2023-07-01
2087,South Africa,ZAF,ZAR,49.90,17.78375,6694.358,1.095364e+05,2023-07-01
2088,France,FRA,EUR,5.30,1.61000,4167943.590,2.586890e+06,2024/6/20

## Write to .csv File
Now that we've updated the data, let's write a new .csv file reflecting the changes. 

**NOTE:** It should not create multiple files if you keep running this, but just remember to *Clear All Outputs* inbetween each test to avoid adding France more than once.

In [9]:
#Write the big_mac_df big_mac_update.csv in the data folder. Do not include indexes.
big_mac_df.to_csv('data/EditedFile')