# Big Mac CSV Activities
I have provided you with a very small amount of the original big mac data dataset in a .csv file. Use it to complete all the activities in this notebook.

In [1]:
import pandas as pd

#Read in the big_mac_aud.csv file and store it as big_mac_df. Add the headings 'Country', 'Local', 'AUD' and 'Date'
big_mac_df = pd.read_csv(
    'data/big_mac_source_data_v2.csv',
    header=None,
    names=['Country', 'Local', 'AUD', 'Date']
    )

#Output the big_mac_df
big_mac_df

,,,,Country,Local,AUD,Date
name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,GDP_local,date
Argentina,ARG,ARS,2.5,1,8709.072,8709.072,2000-04-01
Australia,AUS,AUD,2.59,1.68,21762.397,33722.92,2000-04-01
Brazil,BRA,BRL,2.95,1.79,3501.438,6351.375,2000-04-01
Canada,CAN,CAD,2.85,1.47,22340.553,33191.468,2000-04-01
...,...,...,...,...,...,...,...
Ukraine,UKR,UAH,105,36.93145,4348.57,140644.541,2023-07-01
Uruguay,URY,UYU,259,37.765,20221.94,832490.102,2023-07-01
United States,USA,USD,5.58,1,76348.494,76348.494,2023-07-01
Vietnam,VNM,VND,74000,23687.5,4086.519,95648144.299,2023-07-01
South Africa,ZAF,ZAR,49.9,17.78375,6694.358,109536.433,2023-07-01

## Add More Rows

I want to add France to the above dataframe. The cost is 5.30 EUROs. You'll need to do the conversion for AUD.

For information on how to add a row to a dataframe, read through the instructions on [How to Add New Rows to a Pandas Dataframe](https://saturncloud.io/blog/how-to-add-new-rows-to-a-pandas-dataframe/)

**NOTE:** Inbetween each test, make sure to *Clear All Outputs* and *Run All* (options at the top of the screen).

In [2]:
#Create a new row as a dictionary called 'new_row'
new_row = {
    'Country' : 'France',
    'Local' : 5.30,
    'AUD' : 8.53,
    'Date' : '2024/06/20'
    }

#Add the row to big_mac_df with either the append or loc function
big_mac_df.loc[len(big_mac_df)] = new_row

#Print the dataframe
big_mac_df

,Country,Local,AUD,Date
"(name, iso_a3, currency_code, local_price)",dollar_ex,GDP_dollar,GDP_local,date
"(Argentina, ARG, ARS, 2.5)",1,8709.072,8709.072,2000-04-01
"(Australia, AUS, AUD, 2.59)",1.68,21762.397,33722.92,2000-04-01
"(Brazil, BRA, BRL, 2.95)",1.79,3501.438,6351.375,2000-04-01
"(Canada, CAN, CAD, 2.85)",1.47,22340.553,33191.468,2000-04-01
...,...,...,...,...
"(Uruguay, URY, UYU, 259)",37.765,20221.94,832490.102,2023-07-01
"(United States, USA, USD, 5.58)",1,76348.494,76348.494,2023-07-01
"(Vietnam, VNM, VND, 74000)",23687.5,4086.519,95648144.299,2023-07-01
"(South Africa, ZAF, ZAR, 49.9)",17.78375,6694.358,109536.433,2023-07-01
2089,France,5.3,8.53,2024/06/20

## Write to .csv File
Now that we've updated the data, let's write a new .csv file reflecting the changes. 

**NOTE:** It should not create multiple files if you keep running this, but just remember to *Clear All Outputs* inbetween each test to avoid adding France more than once.

In [4]:
#Write the big_mac_df big_mac_update.csv in the data folder. Do not include indexes.
big_mac_df.to_csv('data/EditedFile')